# Core
pandas==2.2.2
numpy==2.0.1

# HTTP + retries
requests==2.32.3
tenacity==8.5.0

# Dates
python-dateutil==2.9.0.post0

# Fast formats
pyarrow==17.0.0
orjson==3.10.7

# Viz
matplotlib==3.9.2
plotly==5.24.1

# App
streamlit==1.37.1

# Notebook
jupyterlab==4.2.5
ipykernel==6.29.5

# Optional (helpful later)
rapidfuzz==3.9.7
